@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

:root {
  --primary-color: #191765;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.msg-icon,
.deskH,
#fname,
#lname {
  display: none;
}

.menu-items {
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  left: calc(-100% - 40px);
  transition: left 0.4s;
}

#close {
  position: absolute;
  top: 10px;
  left: calc(100% - 40px);
}

.section {
  width: 100%;
}

.menu-on {
  left: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #c8cdd4;
}

.profile {
  width: 100%;
}

.profile-menu {
  position: relative;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191765;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191765;
  background-image: url(./images/Icons/eclipes1.png);
  background-repeat: no-repeat;
  background-position-x: -20px;
  background-position-y: -40px;
  width: 100%;
  padding: 0;
}

header a {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}

.hamburger {
  background-color: #191765;
  border: #191765;
  padding-right: 24px;
}

.profile-container h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: #7d73fc;
}

.profile-container h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #edecff;
}

.img-wrapper {
  width: 90%;
}

.profile-container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #c8c8d4;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
}

.skill-stack {
  height: 462.1505432128906px;
  width: 90%;
  left: 12px;
  top: 235px;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-stack h3 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #9490ff;
}

li {
  list-style: none;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.skill-stack li {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social-media {
  height: 104px;
  width: 100%;
  left: 87.5px;
  top: 1092.1505126953125px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 83.85px;
}

.social-media-icon {
  height: 40px;
  width: 200px;
  left: 0;
  top: 0;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding-top: 48px;
}

.experience-title {
  align-self: start;
  margin-left: 20px;
}

.experience-title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #9490ff;
}

.bg1 {
  background-image: url(./images/Icons/eclipse3.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.experience-container .img-wrapper img {
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.experience-container > h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 24px;
  color: #fff;
}

.experience-container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

.sec-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 90%;
  border-radius: 0;
  padding-top: 24px;
  align-items: center;
}

.stack-container li {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

form > button {
  height: 48px;
  width: 89px;
  left: 0;
  top: 421px;
  border-radius: 0;
  background-color: #7d73fc;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  border: none;
}

.experience-container button {
  height: 48px;
  width: 89px;
  left: 0;
  top: 421px;
  border-radius: 0;
  background-color: #7d73fc;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  border: none;
}

.project-button {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #edecff;
}

.project-button :enabled {
  background-color: #7d73fc;
}

.project-button:visited {
  background-color: #5e42d7;
}

.project-button:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.project-button:disabled {
  background-color: #2a2b33;
}

.border-right {
  border-right: 1px solid white;
}

.padding-right {
  padding-right: 20px;
}

.divider {
  border: 1px solid #646369;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}

form {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  color: #303036;
  padding-left: 15px;
}

form > input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
}

form > textarea {
  width: 100%;
  height: 148px;
  margin-top: 2em;
  box-sizing: border-box;
  border: none;
  color: #303036;
  padding-left: 15px;
  padding-top: 15px;
}

form > button:hover {
  background-color: #503458;
}

.form-container h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #9390ff;
}

.form-container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #191765;
}

.supporting-item-container:nth-child(2) {
  margin: 25px 0 15px 0;
}

.footer-email {
  text-decoration: none;
  color: #fff;
  margin-bottom: 25px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

.fa-bars,
.fa-times {
  color: #fff;
  font-size: 25px;
}

.hide {
  display: none;
}

@media screen and (min-width: 1100px) {
  body,
  header,
  footer,
  main,
  .profile-menu,
  .footer-section {
    width: 100%;

    /* overflow-x: hidden; */
    background-image: none;
  }

  .hamburger,
  .bg1 {
    display: none;
    background-image: none;
  }

  .menu-items,
  #fname,
  #lname {
    position: static;
    display: flex;
    width: auto;
    height: auto;
  }

  body {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .profile-container {
    background: url(./images/Icons/circle1.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
  }

  .profile-menu .logo {
    margin-left: 154px;
  }

  .msg-icon {
    display: flex;
    background-color: #191765;
  }

  .profile-menu .msg-icon {
    margin-right: 32px;
  }

  .profile-menu > .menu-items {
    display: flex;
    justify-content: space-between;
    margin-right: -680px;
  }

  .profile-title p {
    margin-left: 380px;
    margin-right: 380px;
    margin-bottom: 40px;
  }

  .container {
    background: url(./images/Icons/circle2.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    align-items: center;
  }

  .divider {
    width: 448px;
    border: 1px solid #646369;
    margin-bottom: 40px;
  }

  .container .divider {
    width: 100%;
  }

  .skill-stack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    width: auto;
    left: 1px;
    height: auto;
    margin-bottom: 40px;
  }

  .experience-title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 114px;
    margin-left: 142px;
  }

  .bg1 {
    background: url(./images/Icons/Ellipse1.svg);
    background-repeat: no-repeat;
  }

  .bg2 {
    background: url(./images/Icons/Ellipse2.svg);
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .bg3 {
    background: url(./images/Icons/Ellipse3.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .bg4 {
    background: url(./images/Icons/Ellipse4.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .experience-title br {
    display: none;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
  }

  .experience-container {
    display: flex;
    flex-direction: row;
    padding-left: 142px;
    padding-right: 142px;
  }

  .sec-wrap h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .mobH {
    display: none;
  }

  .deskH {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
  }

  .form-container {
    max-width: 684px;
  }

  .footer-section .divider {
    width: 100%;
  }

  .bg2,
  .bg4 {
    flex-direction: row-reverse;
  }
}
